/* style.css */

#hero {
  background-image: url('assets/hero-image.jpg'); 
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 4em;
  margin: 0;
}

.hero-content p {
  font-size: 1.5em;
}

/* Basic Layout */
body {
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

h1, h2 {
  font-size: 2em;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0077cc;
  transition: color 0.3s;
}

a:hover {
  color: #005fa3;
}

/* Section Styles */
section {
  padding: 2em;
}

#about, #projects, #skills, #contact {
  background-color: white;
  margin-bottom: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  #hero {
    height: auto;
    padding: 2em 0;
  }

  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content p {
    font-size: 1.2em;
  }

  section {
    padding: 1em;
  }
}
